* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../images/wallpaper.jpg');
  background-position: center;
  background-size: cover;
  background-color: #1b4c6e;
}

/* ---SKIP TO MAIN CONTENT (USING TAB TO SEE IT)--- */

#skip {
  opacity: 0;
  text-decoration: none;

}

#skip:focus {
  opacity: 1;
  color: lightgray;
  font-size: 1rem;
  font-weight: 700;

}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  border: solid 1px black;
  background-color: lightgray;
  padding: 1em;

}
.title{
  display: flex;
  align-items: center;
  gap: 1em;
}
.title>a{
    text-decoration: none;
    color: #333333;
}

h1 {
  font-size: 1.5rem;
  text-align: center;

}

/* ---USING FLEX--- */

nav>ul{
  display: flex;
  list-style-type: none;
  gap: 1em;
}

nav a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #333333;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

/* ---USING HOVER--- */

nav a:hover {
  color: crimson;
  transform: scale(1.2);
}

/* ---USING GRID--- */

.container {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.column {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #1b4c6e;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  justify-items: center;
}
.book{
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;
}

.column figure {
  width: 60%;
  text-align: center;
  margin-block: 1em;
 
 
}
figure>img {
  width: 100%;
  aspect-ratio: 1 / 1.5;
  object-fit: cover;
 
}
 h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  color: lightblue;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.column h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: lightgray;
  font-size: 1.1rem;
}

footer {
  margin-top: 1rem;
}

footer p {
  color: lightgray;
  font-size: 1rem;
  font-weight: 700;
  background-color: #1b4c6e;
  text-align: center;
  padding: 15px;
}


.container-author {

  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 1em;
  max-width: 1000px;
  margin: 0 auto;

}

.container-author>h2{
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

.container-book {
  background-color: #1b4c6e;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.container-book>figure{
  text-align: center;
  width: 100%;
}
.container-book img {
  width: 80%;
}

.container-book h3 {
  color: lightblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  margin: 1rem 0 1rem 0;
}

.container-book p {
  color: lightgray;
 
  margin: 1rem;

}

.container-book a {
  color: red;
  
  font-size: 1.1rem;
  font-weight: 700;

}

.container-book a:hover {
  color: aquamarine;

}

@media (min-width: 700px){
  header{
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
  }

  
  .column{
    grid-template-columns: 1fr 1fr;
    
  }
  .column h2{
    grid-column: 1 / -1;
    
  }
  .container-author{
    grid-template-columns: 1fr 1fr;
  }
  .container-author>h2{
    grid-column: 1 / -1;
  }
}

@media (min-width:1000px){
  nav>ul{
    gap: 2em;
  }
}